.price-input,
.price-input-sm {
  width: 100%;
  display: flex;
  margin: 0px 0 30px;
}

.price-input .field,
.price-input-sm .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

.field input {
  width: 60%;
  height: 70%;
  outline: none;
  font-size: 16px;
  margin-left: 6px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



.slider,
.slider-sm {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress ,
.slider-sm .progress-sm{
  height: 100%;
  left: 5%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #000;
}

.range-input ,
.range-input-sm{
  position: relative;
}

.range-input input ,
.range-input-sm input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #000;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #000;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}